

.commentContainer{
    margin: 10px;
}

.title{
    margin: 0;
    padding: 0;
}

.content{
    margin: 0;
    padding: 0;
}

.likeBtn{
    padding: 10px;
}

.actions{
    display: flex;
}

.ownerActions{
    padding-right: 10px;
    background-color: transparent;
    border: none;
    color: white;
    font-weight: bold;
}

.textarea{
    border: solid 1px white;
    background-color: transparent;
    border-radius: 10px;
    padding: 10px;
    color: white;
}

.submitBtn{
    background-color: grey;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 10px;
}