/*
author: Paul Kim
date: November 22, 2023
version: 1.0
description: css for reply component for CapyTV
 */

.replyContainer {
    margin-left: 20px;
    padding-left: 10px;
    border-left: solid 1px rgba(0, 195, 255, 0.5);
    transition: all ease 0.5s;
}

.replyContainer:hover {
    border-left: solid 1px rgba(0, 195, 255, 1.0);
    transition: all ease 0.5s;
}

.title {
    margin: 0;
    padding: 0;
}

.content {
    margin: 0;
    padding: 0;
}

.likeBtn {
    padding: 10px;
}

.actions {
    display: flex;
}

.ownerActions {
    padding-right: 10px;
    background-color: transparent;
    border: none;
    color: white;
    font-weight: bold;
}

.textarea {
    border: solid 1px white;
    background-color: transparent;
    border-radius: 10px;
    padding: 10px;
    color: white;
}

.submitBtn {
    background-color: grey;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 10px;
}