html {
  box-sizing: border-box;
  background-color: #282c34;
  color: white;
}

* {
  box-sizing: inherit;
}

header nav ul{
  list-style: none;
  display: flex;
  justify-content: center;
}

header nav ul li{
  margin: 10px;
}

main {
  flex: 1;
  margin: auto;
}

footer{
  text-align: center;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.link{
  text-decoration: none;
  color: white;
}

.search-button{
  background-color: transparent;
  border: none;
  font-size: 15px;
}

.hamburger-menu {
  display: block;
  background-color: transparent;
  border: none;
  font-size: 2.5rem;
  color: white;
  cursor: pointer;
  padding-right: 12px;
  transition: all 0.3s ease;
}

.hamburger-menu:hover {
  background-color: rgb(29, 34, 80);
  border-radius: 15px;
}

#capytech-icon {
  max-width: 60px;
  padding: 5px;
  padding-left: 10px;
}

#top-bar a{
  text-decoration: none;
  color: white;
}

@media(min-width:800px){
  .hamburger-menu{
    display: none;
  }
}