html {
  box-sizing: border-box;
  background-color: #282c34;
  color: white;
}

* {
  box-sizing: inherit;
}

header {
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: #333842;
}

nav {
  flex: 1;
}

header nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
}

header nav ul li {
  margin: 10px;
}

main {
  flex: 1;
  margin: auto;
}

footer {
  text-align: center;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.search-button {
  background-color: transparent;
  border: none;
  font-size: 15px;
}

.hamburger-menu {
  display: block;
  background-color: transparent;
  border: none;
  font-size: 2.5rem;
  color: white;
  cursor: pointer;
  padding-right: 12px;
  transition: all 0.3s ease;
}

.hamburger-menu:hover {
  background-color: #282c34;
  border-radius: 15px;
}

.nav-link {
  display: block;
  line-height: 40px;
  text-align: center;
  color: white;
  text-decoration: none;
  font-weight: bold;
  border-radius: 10px;
  transition: all 0.3s ease;
}

.nav-link:hover {
  background-color: #282c34;
}

.side-link {
  text-decoration: none;
  color: white;
}

.comment-input {
  border: solid 1px white;
  background-color: #282c34;
  color: white;
}

.video {
  max-width: 100%;
}

.thumbnail {
  max-width: 100%;
}

.video-meta {
  text-decoration: none;
  color: white;
  padding: 0;
  margin: 0;
}

.thumbnail-container {
  margin-bottom: 30px;
}

.comments{
  padding: 10px;
  margin-top: 5px;
  border-radius: 10px;
  max-width: 95%;
  background-color: #333842;
}

#video-title {
  display: block;
  margin-bottom: 0;
}

#user-id {
  margin: 0;
}

#side-menu {
  display: none;
}

#capytech-icon {
  max-width: 60px;
  padding-left: 10px;
}

#nav-ul {
  display: block;
  margin: 0;
  padding: 0;
  list-style: none;
}

#top-bar {
  display: flex;
  justify-content: space-between;
}

#top-bar a {
  text-decoration: none;
  color: white;
}

@media(min-width:800px) {
  header {
    display: flex;
  }

  .hamburger-menu {
    display: none;
  }

  .nav-link {
    padding-left: 15px;
    padding-right: 15px;
    font-size: 1rem;
  }

  .thumbnail {
    max-width: 400px;
    border-radius: 10px;
  }

  .thumbnail-container {
    margin: 10px;
  }

  .main-title {
    text-align: center;
  }

  #main-container {
    display: flex;
  }

  #videos-dashboard {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  #capytech-icon {
    max-width: 70px;
    padding-left: 10px;
    padding-top: 5px;
  }

  #nav-ul {
    display: flex;
    flex: 1;
    justify-content: right;
    min-width: 400px;
    margin: 0px;
  }

  #main-nav {
    justify-content: center;
  }

  #side-menu {
    display: block;
    margin-right: 25px;
  }

  #side-menu ul {
    list-style: none;
  }

  #side-menu ul li {
    padding: 10px;
    cursor: pointer;
  }

  #side-menu ul li:hover {
    background-color: #333842;
    border-radius: 10px;
  }

  #submit-button {
    padding: 5px;
    margin-top: 5px;
  }


  #vidplayer-ui {
    display: flex;
  }

  #vidplayer-ui2 {
    width: 70%;
  }

  #suggested-menu {
    width: 30%;
  }

  .comment-input {
    padding: 5px;
    border-radius: 5px;
    width: 100%;
  }
  .comments{
    max-width: 100%;
  }
}